.page__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.btn__option{
    padding: 8px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    background: none;
    border:2px solid white;
    color: whitesmoke;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.8;
    cursor: pointer;
}
.curr__btn{
    font-size: 18px;
    font-weight: bold;
    color: white;
}