@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #262f39;
    margin: 0;
    padding: 0;
}